.card {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  background-color: var(--color-primary);
  padding: rem(24);
  border-radius: rem(20);
  border: 1px solid #e7e7e7;

  &Content {
    display: flex;
    flex-direction: column;
    gap: rem(12);
    flex: 1 1 0%;

    &Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &Badges {
    display: flex;
    gap: rem(12);
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &Name {
    line-height: 115%;
  }

  &FullName {
    font-size: 14px;
    line-height: 100%;
    color: #1e89f0;
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Buttons {
      display: flex;
      gap: rem(16);
    }
  }
}
