.AppLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: rem(4);
  border-radius: rem(8);
  text-decoration: none;
  cursor: pointer;
}

.button_red {
  padding: rem(4) rem(16);
  color: rgb(255 255 255);
  background: var(--color-red);

  &:hover {
    opacity: 0.8;
  }
}

.size_m {
  height: rem(32);
}

.size_l {
  height: rem(40);
}
