.loaderWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layoutContainer {
  margin: 0 auto;
  min-height: calc(100vh - var(--header-width));
  max-width: var(--container-width);
  padding: 0 rem(40);
  display: flex;
  flex-direction: column;
}
