.loader {
  border: rem(7) solid var(--color-foreground);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.s {
  width: rem(12);
  height: rem(12);
}

.m {
  width: rem(48);
  height: rem(48);
}

.l {
  width: rem(80);
  height: rem(80);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots {
  width: rem(12);
  height: rem(12);
  border-radius: 50%;
  background-color: #aaa; /* Светло-серый */
  box-shadow:
    20px 0 #aaa,
    -20px 0 #aaa;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #444; /* Темно-серый */
    box-shadow:
      20px 0 #444,
      -20px 0 #aaa;
  }
  50% {
    background-color: #aaa; /* Светло-серый */
    box-shadow:
      20px 0 #444,
      -20px 0 #444;
  }
  100% {
    background-color: #444; /* Темно-серый */
    box-shadow:
      20px 0 #aaa,
      -20px 0 #444;
  }
}
