.header {
  height: var(--header-width);
  border: var(--border);
  background-color: var(--color-foreground);
  padding: rem(16) 0;
  &Container {
    padding: 0 rem(40);
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &LinksContainer {
    fill: var(--color-primary);
    display: flex;
    align-items: center;
    gap: rem(32);
  }
}

.profileButton {
  position: relative;
}

.appLogo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem(8);

  &Icon {
    fill: var(--color-primary);
    width: rem(18);
    height: rem(18);
  }

  &Text {
    color: var(--color-primary);
    line-height: 130%;
    font-size: re;
    font-weight: 700;
  }
}
