.stat {
  &Wrapper {
    background-color: var(--color-card);
    padding: rem(16);
    display: flex;
    align-items: center;
    gap: rem(16);
    border-radius: rem(20);
  }
  &Icon {
    height: rem(32);
    width: rem(32);
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &Text {
    display: flex;
    flex-direction: column;
    gap: rem(4);
    &Value {
      font-size: 20px;
      line-height: 115%;
      color: #3a3a3a;
    }
    &Label {
      line-height: 115%;
      color: #84868c;
    }
  }
}
