.Button {
  cursor: pointer;
  padding: rem(4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(8);
  border-style: none;
  font-weight: 600;
}

.clear {
  border: 1px solid #e7e7e7;
  background-color: transparent;
  &:hover {
    background-color: var(--color-card-secondary);
  }
}

.red {
  padding: rem(4) rem(16);
  color: rgb(255 255 255);
  background: var(--color-red);
  &:hover {
    opacity: 0.8;
  }
}

.square.size_m {
  padding: 0;
  width: rem(32);
  height: rem(32);
}

.square.size_l {
  padding: 0;
  width: rem(40);
  height: rem(40);
  svg {
    height: rem(25);
    width: rem(25);
  }
}

.disabled {
  opacity: 0.5;
}

.size_m {
  height: rem(32);
}

.size_l {
  height: rem(40);
}
